<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhb.mapper.AiChatMessageMapper">

    <resultMap id="BaseResultMap" type="com.lhb.entity.AiChatMessage">
        <id column="id" property="id"/>
        <result column="conversation_id" property="conversationId"/>
        <result column="message_type" property="messageType"/>
        <result column="content" property="content"/>
        <result column="role" property="role"/>
        <result column="create_time" property="createTime"/>
        <result column="version" property="version"/>
        <result column="user_id" property="userId"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, conversation_id, message_type, "content", "role", create_time, "version",user_id
    </sql>

    <!-- 根据对话ID查询消息 -->
    <select id="selectByConversationId" resultType="com.lhb.entity.AiChatMessage">
        SELECT
            <include refid="Base_Column_List"/>
        FROM t_ai_chat_message
        WHERE conversation_id = #{conversationId}
        ORDER BY create_time desc limit #{num}
    </select>

    <!-- 根据对话ID删除消息 -->
    <delete id="deleteByConversationId">
        DELETE FROM t_ai_chat_message WHERE conversation_id = #{conversationId}
    </delete>

</mapper>
