<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhb.mapper.KnowledgeBaseChunkVectorMapper">

    <resultMap id="BaseResultMap" type="com.lhb.entity.KnowledgeBaseChunkVector">
        <id column="id" property="id"/>
        <result column="kb_id" property="kbId"/>
        <result column="chunk_no" property="chunkNo"/>
        <result column="chunk_content" property="chunkContent"/>
        <result column="embedding" property="embedding" typeHandler="com.lhb.typeHandlers.FloatArrayToVectorTypeHandler"/>
        <result column="chunk_size" property="chunkSize"/>
        <result column="metadata" property="metadata" typeHandler="com.lhb.typeHandlers.MapToJsonTypeHandler"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, kb_id, chunk_no, chunk_content, embedding, chunk_size, metadata,
        status, create_time, update_time, "version"
    </sql>
</mapper>
